.products-page {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
  }

  &__item {
    flex: 0 0 22%; // 4 товара в ряд
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 12px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    span {
      display: block;
      margin: 10px 0;
      font-weight: 500;
    }
  }

  &__img {
    width: 50%;
    height: auto;
    border-radius: 6px;
  }
}
